* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel-decorative-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

.cinzel-decorative-black {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
}

.custom-line {
  border: none;             
  height: 2px;              
  background-color: #8B0000; 
  margin: 20px 0;           
}

body {
    font-family: "cinzel Decorative", serif;
    color: #8B0000;
    background-color: #0B0B0B;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    font-size: 24px;
}

nav ul {
    display: flex;
    gap: 24px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #8B0000;
}


.win5 {
    font-size: 23px;
    text-align: center;
    margin-top: 8px;
}

.choosing-your-move {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.choosing-your-move h2 {
    font-size: 30px;
    font-weight: 700;
    padding-top: 16px;
}

.choosing-your-move p {
    font-size: 20px;
    font-weight: 400;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card {
    max-width: 400px;
    text-align: center;
    font-size: 18px;
    
}

.card img {
    width: 300px;
    height: auto;
    border: #8B0000 solid 2px;
    border-radius: 50%;
    cursor: pointer;
}